#mp3_player {
    width: 500px;
    height: 180px;
    background-color: #353535;
    padding: 5px;
    margin: 50px auto;
}

#mp3_player > div > audio {
    width: 100%;
    background-color: #000;
}

#mp3_player > canvas{
    background-color: black;
}

body {
    background-color: #353535;
}